In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math

In [2]:
from sklearn import datasets, tree
from sklearn import svm, metrics
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [4]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

In [5]:
tbl = pd.read_csv("../dataset/customer.csv")
tbl.head()

      deposit     stock    label
0  1400000000  45000000   normal
1  1450000000  72000000  diamond
2  1500000000  61000000  diamond
3  1370000000  56000000   normal
4  1920000000  48000000  diamond

In [6]:
### feature, label 컬럼 설정
featuresCol = ['deposit', 'stock']
labelCol = ['label']

In [7]:
### feature데이터, labetl데이터 분리
featuresData = tbl[featuresCol]
labelData = tbl[labelCol]

In [8]:
### train_test_split 함수를 활용해 featurt/label 데이터 자동 분리 7:3
feature_train, feature_test, label_train, label_test = \
train_test_split(featuresData, labelData, test_size = 0.3)

In [9]:
label_train

         label
5214   diamond
19088  diamond
7251    normal
830     normal
17071  diamond
19990  diamond
17059   normal
10603  diamond
5292   diamond
3083   diamond
8507    normal
8825       vip
1889   diamond
3502   diamond
11140  diamond
8938   diamond
19304   normal
19783  diamond
18326  diamond
805    diamond
3259   diamond
16714      vip
13859  diamond
3493   diamond
6733    normal
6009   diamond
12410  diamond
1731   diamond
10184   normal
15571   normal
...        ...
236    diamond
13259   normal
10767  diamond
1641   diamond
8054   diamond
8569    normal
18010  diamond
17406   normal
6835   diamond
7028   diamond
9827       vip
9592   diamond
4431   diamond
5408       vip
19621  diamond
12653   normal
722    diamond
9362       vip
1479   diamond
9034   diamond
19604  diamond
2771    normal
17353   normal
535    diamond
13356   normal
14918  diamond
651    diamond
4014       vip
15111   normal
5379   diamond

[14000 rows x 1 columns]

In [10]:
### Define Model
model = svm.SVC()

### Learning (Feature & Label)
model.fit(feature_train, label_train)

C:\Users\SMART-15\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [11]:
### 테스트 데이터 Feature만 가지고 예측하기
predict = model.predict(feature_test)
predict

array(['diamond', 'diamond', 'vip', ..., 'normal', 'normal', 'diamond'],
      dtype=object)

In [12]:
### 데이터프레임으로 변환
predictData = pd.DataFrame(predict)

In [13]:
### 컬럼명 주입
predictData.columns = ["PREDICT"]
predictData.head()

   PREDICT
0  diamond
1  diamond
2      vip
3  diamond
4      vip

In [14]:
### 테스트데이터 Feature, Label 정리
featureTestResult = feature_test.reset_index(drop=True)
labelTestResult = label_test.reset_index(drop=True)

### 테스트데이터 + Predict 합치기
finalResult = pd.concat(
[featureTestResult, labelTestResult, predictData], axis=1)
finalResult.head(5)

      deposit     stock    label  PREDICT
0  1310000000  36000000   normal  diamond
1  1300000000  73000000  diamond  diamond
2  1950000000  64000000      vip      vip
3  1630000000  48000000  diamond  diamond
4  1790000000  73000000      vip      vip

In [15]:
len(finalResult)

6000

In [16]:
finalResult.to_csv("./customerLabelPredict.csv")

In [17]:
### 데이터의 높이 맞추기!! => 컬럼 당 데이터 전체를 MAX값으로 나누기

In [18]:
bmiData = pd.read_csv("../dataset/bmi.csv")
bmiData.head()

   height  weight   label
0     140      45  normal
1     145      72     fat
2     150      61     fat
3     137      56     fat
4     192      48    thin

In [19]:
maxHeight = max(bmiData.height)
maxWeight = max(bmiData.weight)

In [20]:
bmiData.height = bmiData.height/maxHeight
bmiData.weight = bmiData.weight/maxWeight

In [21]:
bmiData = bmiData.rename(columns = {'label': 'bmi_label'})

In [22]:
featuresCol2 = ['height','weight']
labelCol2 = ['bmi_label']

In [23]:
featuresData2 = bmiData[featuresCol2]
labelData2 = bmiData[labelCol2]

In [24]:
feature_train2, feature_test2, label_train2, label_test2 = \
train_test_split(featuresData2, labelData2, test_size = 0.3)

In [25]:
bmiModel = svm.SVC()
bmiModel.fit(feature_train2, label_train2)

C:\Users\SMART-15\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [26]:
bmiPredict = bmiModel.predict(feature_test2)
bmiPredict

array(['fat', 'normal', 'normal', ..., 'normal', 'thin', 'normal'],
      dtype=object)

In [27]:
bmiPredict = pd.DataFrame(bmiPredict)

In [28]:
bmiPredict.columns = ['predict']
bmiPredict.head(5)

  predict
0     fat
1  normal
2  normal
3    thin
4     fat

In [29]:
feature_test2.head(5)

       height  weight
16737   0.625  0.8750
16263   0.975  1.0000
2221    0.860  0.7875
19592   0.865  0.6125
17359   0.660  0.7250

In [30]:
featureTestResult2 = feature_test2.reset_index(drop=True)
labelTestResult2 = label_test2.reset_index(drop=True)

### 테스트데이터 + Predict 합치기
finalResult = pd.concat(
[featureTestResult2, labelTestResult2, bmiPredict], axis=1)
finalResult.head(5)

   height  weight bmi_label predict
0   0.625  0.8750       fat     fat
1   0.975  1.0000    normal  normal
2   0.860  0.7875    normal  normal
3   0.865  0.6125      thin    thin
4   0.660  0.7250       fat     fat

In [31]:
finalResult.to_csv("./bmiDataPredict.csv")