In [3]:
import pandas as pd
import requests
from pandas.io.json import json_normalize

In [7]:
url = 'http://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=ZmY2Yzg3OTY1ODQ3Y2FlMDE4MDVkZTMyN2MxM2ZjMjA=&itmId=T10+&objL1=ALL&objL2=ALL&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&newEstPrdCnt=1&loadGubun=2&orgId=101&tblId=DT_1G1B002'

In [8]:
# 정상 여부 확인 (200 정상)
response = requests.get(url)
response

In [9]:
# JSON 데이터 획득
json = response.json()

In [10]:
# PandasDataframe변환
df = json_normalize(json)
df.head()

,C1,C1_NM,C1_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,C2,C2_NM,C2_NM_ENG,C2_OBJ_NM,C2_OBJ_NM_ENG,...,ITM_ID,ITM_NM,ITM_NM_ENG,ORG_ID,PRD_DE,PRD_SE,TBL_ID,TBL_NM,UNIT_NM,UNIT_NM_ENG
0,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,0,계,Total,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,201902,M,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won
1,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,1,건축,Building,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,201902,M,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won
2,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,11,주택,Dwellings,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,201902,M,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won
3,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,12,사무실 및 점포,Offices ＆ stores,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,201902,M,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won
4,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,13,공장 및 창고,Factory ＆ storage,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,201902,M,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won

In [12]:
df.to_csv("./건설수주액.csv", encoding='ms949', index=False)

### XML 데이터 불러오기

In [2]:
import urllib.request
import pandas as pd

Part #1

In [9]:
### 데이터 불러오기

xmlurl = 'http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?serviceKey=lcxt1GSMbWlNmzjIKi%2Bh5V%2BzLVniouvqEMsusuX2HWcuor6pg6fGXrz7QFbFAFzJOGz%2FuQlYun%2Bl4zgd%2Fj7eew%3D%3D&pageNo=1&startPage=1&numOfRows=10&pageSize=10&LAWD_CD=11110&DEAL_YMD=201512'

In [10]:
request = urllib.request.Request(xmlurl) 
request.get_method = lambda: 'GET'

In [11]:
response_body = urllib.request.urlopen(request).read()

In [12]:
fullXmlString = str(response_body, "utf-8")    # 웹이랑 통신할 땐 인코딩을 거의 utf-8로 함.

In [13]:
fullXmlString

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items><item><거래금액>    82,500</거래금액><건축년도>2008</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00004</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>03</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 사직동</법정동><법정동본번코드>0009</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11500</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>광화문풍림스페이스본(101동~105동)</아파트><월>12</월><일>1~10</일><일련번호>11110-2203</일련번호><전용면적>94.51</전용면적><지번>9</지번><지역코드>11110</지역코드><층>11</층></item><item><거래금액>    60,000</거래금액><건축년도>1981</건축년도><년>2015</년><도로명>세종대로23길</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>02</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100190</도로명코드><법정동> 당주동</법정동><법정동본번코드>0145</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11700</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>롯데미도파광화문빌딩</아파트><월>12</월><일>21~31</일><일련번호>11110-12</일련번호><전용면적>149.95</전용면적><지번>145</지번><지역코드>11110</지역코드><층>8</층></item><item><거래금액>   130,000</거래금액><건축년도>2004</건축년도><년>2015</년><도로명>경희궁2길</도로명><도로명건물본번호코드>00005</도로명건물본번호코드><도로명건물부번호코드>00005</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>01</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100005</도로명코드><법정동> 내수동</법정동><법정동본번코드>0110</법정동본번코드><법정동부번코드>0015</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>킹스매너</아파트><월>12</월><일>1~10</일><일련번호>11110-118</일련번호><전용면적>194.43</전용면적><지번>110-15</지번><지역코드>11110</지역코드><층>6</층></item><item><거래금액>   105,000</거래금액><건축년도>2004</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00024</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 내수동</법정동><법정동본번코드>0071</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>경희궁의아침2단지</아파트><월>12</월><일>11~20</일><일련번호>11110-115</일련번호><전용면적>124.17</전용면적><지번>71</지번><지역코드>11110</지역코드><층>8</층></item><item><거래금액>   120,000</거래금액><건축년도>2003</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00020</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 내수동</법정동><법정동본번코드>0095</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>경희궁 파크팰리스</아파트><월>12</월><일>21~31</일><일련번호>11110-107</일련번호><전용면적>146.33</전용면적><지번>95</지번><지역코드>11110</지역코드><층>4</층></item><item><거래금액>    17,000</거래금액><건축년도>2014</건축년도><년>2015</년><도로명>대학로</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3100002</도로명코드><법정동> 연건동</법정동><법정동본번코드>0195</법정동본번코드><법정동부번코드>0010</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>16600</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>이화에수풀</아파트><월>12</월><일>11~20</일><일련번호>11110-2359</일련번호><전용면적>16.98</전용면적><지번>195-10</지번><지역코드>11110</지역코드><층>8</층></item><item><거래금액>    17,000</거래금액><건축년도>2014</건축년도><년>2015</년><도로명>대학로</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3100002</도로명코드><법정동> 연건동</법정동><법정동본번코드>0195</법정동본번코드><법정동부번코드>0010</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>16600</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>이화에수풀</아파트><월>12</월><일>11~20</일><일련번호>11110-2359</일련번호><전용면적>16.98</전용면적><지번>195-10</지번><지역코드>11110</지역코드><층>4</층></item><item><거래금액>    57,000</거래금액><건축년도>2006</건축년도><년>2015</년><도로명>혜화로3가길</도로명><도로명건물본번호코드>00030</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>01</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100544</도로명코드><법정동> 명륜1가</법정동><법정동본번코드>0019</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17000</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>렉스빌</아파트><월>12</월><일>21~31</일><일련번호>11110-973</일련번호><전용면적>106.98</전용면적><지번>19</지번><지역코드>11110</지역코드><층>3</층></item><item><거래금액>    44,000</거래금액><건축년도>1995</건축년도><년>2015</년><도로명>창경궁로</도로명><도로명건물본번호코드>00265</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>07</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3005008</도로명코드><법정동> 명륜2가</법정동><법정동본번코드>0004</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17100</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>아남1</아파트><월>12</월><일>1~10</일><일련번호>11110-25</일련번호><전용면적>84.8</전용면적><지번>4</지번><지역코드>11110</지역코드><층>18</층></item><item><거래금액>    52,000</거래금액><건축년도>1995</건축년도><년>2015</년><도로명>창경궁로</도로명><도로명건물본번호코드>00265</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>07</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3005008</도로명코드><법정동> 명륜2가</법정동><법정동본번코드>0004</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17100</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>아남1</아파트><월>12</월><일>1~10</일><일련번호>11110-25</일련번호><전용면적>84.9</전용면적><지번>4</지번><지역코드>11110</지역코드><층>12</층></item></items><numOfRows>10</numOfRows><pageNo>1</pageNo><totalCount>49</totalCount></body></response>'

Part #2

In [14]:
import xml.etree.ElementTree as ET
from xml.etree.ElementTree import parse, Element

# 데이터 분석용 라이브러리

In [15]:
# 모든 데이터를 담을 리스트 선언
result = []

In [16]:
# xml 라이브러리 표준
# STR을 Element Tree 타입으로 재구성.
root = ET.fromstring(fullXmlString)

In [19]:
root

In [17]:
# body->items->item 모두 선택
elements = root.findall('body/items/item')

In [18]:
elements

[<Element 'item' at 0x0000000008A44408>,
 <Element 'item' at 0x0000000008A44D18>,
 <Element 'item' at 0x0000000008A45548>,
 <Element 'item' at 0x0000000008A45D18>,
 <Element 'item' at 0x0000000008A46548>,
 <Element 'item' at 0x0000000008A46D18>,
 <Element 'item' at 0x0000000008A49548>,
 <Element 'item' at 0x0000000008A25C78>,
 <Element 'item' at 0x0000000008A301D8>,
 <Element 'item' at 0x0000000008A309A8>]

In [28]:
# 디버깅 코드
elements[0].find('거래금액').text

'    82,500'

In [30]:
for i in range(0,len(elements)):
    print(elements[i].find('거래금액').text)

    82,500
    60,000
   130,000
   105,000
   120,000
    17,000
    17,000
    57,000
    44,000
    52,000

Part #3

In [31]:
fullXmlString

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items><item><거래금액>    82,500</거래금액><건축년도>2008</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00004</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>03</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 사직동</법정동><법정동본번코드>0009</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11500</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>광화문풍림스페이스본(101동~105동)</아파트><월>12</월><일>1~10</일><일련번호>11110-2203</일련번호><전용면적>94.51</전용면적><지번>9</지번><지역코드>11110</지역코드><층>11</층></item><item><거래금액>    60,000</거래금액><건축년도>1981</건축년도><년>2015</년><도로명>세종대로23길</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>02</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100190</도로명코드><법정동> 당주동</법정동><법정동본번코드>0145</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11700</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>롯데미도파광화문빌딩</아파트><월>12</월><일>21~31</일><일련번호>11110-12</일련번호><전용면적>149.95</전용면적><지번>145</지번><지역코드>11110</지역코드><층>8</층></item><item><거래금액>   130,000</거래금액><건축년도>2004</건축년도><년>2015</년><도로명>경희궁2길</도로명><도로명건물본번호코드>00005</도로명건물본번호코드><도로명건물부번호코드>00005</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>01</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100005</도로명코드><법정동> 내수동</법정동><법정동본번코드>0110</법정동본번코드><법정동부번코드>0015</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>킹스매너</아파트><월>12</월><일>1~10</일><일련번호>11110-118</일련번호><전용면적>194.43</전용면적><지번>110-15</지번><지역코드>11110</지역코드><층>6</층></item><item><거래금액>   105,000</거래금액><건축년도>2004</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00024</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 내수동</법정동><법정동본번코드>0071</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>경희궁의아침2단지</아파트><월>12</월><일>11~20</일><일련번호>11110-115</일련번호><전용면적>124.17</전용면적><지번>71</지번><지역코드>11110</지역코드><층>8</층></item><item><거래금액>   120,000</거래금액><건축년도>2003</건축년도><년>2015</년><도로명>사직로8길</도로명><도로명건물본번호코드>00020</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100135</도로명코드><법정동> 내수동</법정동><법정동본번코드>0095</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>11800</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>경희궁 파크팰리스</아파트><월>12</월><일>21~31</일><일련번호>11110-107</일련번호><전용면적>146.33</전용면적><지번>95</지번><지역코드>11110</지역코드><층>4</층></item><item><거래금액>    17,000</거래금액><건축년도>2014</건축년도><년>2015</년><도로명>대학로</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3100002</도로명코드><법정동> 연건동</법정동><법정동본번코드>0195</법정동본번코드><법정동부번코드>0010</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>16600</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>이화에수풀</아파트><월>12</월><일>11~20</일><일련번호>11110-2359</일련번호><전용면적>16.98</전용면적><지번>195-10</지번><지역코드>11110</지역코드><층>8</층></item><item><거래금액>    17,000</거래금액><건축년도>2014</건축년도><년>2015</년><도로명>대학로</도로명><도로명건물본번호코드>00047</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>05</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3100002</도로명코드><법정동> 연건동</법정동><법정동본번코드>0195</법정동본번코드><법정동부번코드>0010</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>16600</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>이화에수풀</아파트><월>12</월><일>11~20</일><일련번호>11110-2359</일련번호><전용면적>16.98</전용면적><지번>195-10</지번><지역코드>11110</지역코드><층>4</층></item><item><거래금액>    57,000</거래금액><건축년도>2006</건축년도><년>2015</년><도로명>혜화로3가길</도로명><도로명건물본번호코드>00030</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>01</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>4100544</도로명코드><법정동> 명륜1가</법정동><법정동본번코드>0019</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17000</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>렉스빌</아파트><월>12</월><일>21~31</일><일련번호>11110-973</일련번호><전용면적>106.98</전용면적><지번>19</지번><지역코드>11110</지역코드><층>3</층></item><item><거래금액>    44,000</거래금액><건축년도>1995</건축년도><년>2015</년><도로명>창경궁로</도로명><도로명건물본번호코드>00265</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>07</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3005008</도로명코드><법정동> 명륜2가</법정동><법정동본번코드>0004</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17100</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>아남1</아파트><월>12</월><일>1~10</일><일련번호>11110-25</일련번호><전용면적>84.8</전용면적><지번>4</지번><지역코드>11110</지역코드><층>18</층></item><item><거래금액>    52,000</거래금액><건축년도>1995</건축년도><년>2015</년><도로명>창경궁로</도로명><도로명건물본번호코드>00265</도로명건물본번호코드><도로명건물부번호코드>00000</도로명건물부번호코드><도로명시군구코드>11110</도로명시군구코드><도로명일련번호코드>07</도로명일련번호코드><도로명지상지하코드>0</도로명지상지하코드><도로명코드>3005008</도로명코드><법정동> 명륜2가</법정동><법정동본번코드>0004</법정동본번코드><법정동부번코드>0000</법정동부번코드><법정동시군구코드>11110</법정동시군구코드><법정동읍면동코드>17100</법정동읍면동코드><법정동지번코드>1</법정동지번코드><아파트>아남1</아파트><월>12</월><일>1~10</일><일련번호>11110-25</일련번호><전용면적>84.9</전용면적><지번>4</지번><지역코드>11110</지역코드><층>12</층></item></items><numOfRows>10</numOfRows><pageNo>1</pageNo><totalCount>49</totalCount></body></response>'

In [34]:
# for 문을 돌면서 리스트에 모든 행 데이터 담기
result = []
root = ET.fromstring(fullXmlString)
elements = root.findall('body/items/item')
elements

[<Element 'item' at 0x0000000008C01D68>,
 <Element 'item' at 0x0000000008A71E58>,
 <Element 'item' at 0x0000000008AFF278>,
 <Element 'item' at 0x0000000008CB3C28>,
 <Element 'item' at 0x0000000008C11458>,
 <Element 'item' at 0x0000000008C11C28>,
 <Element 'item' at 0x0000000008C18458>,
 <Element 'item' at 0x0000000008C18C28>,
 <Element 'item' at 0x0000000008C194A8>,
 <Element 'item' at 0x0000000008C19C28>]

In [43]:
for item in elements:
    try:
        item_list = []
        item_list.append(item.find('거래금액').text)
        item_list.append(item.find('건축년도').text)
        item_list.append(item.find('도로명').text)
        item_list.append(item.find('도로명건물본번호코드').text)
        item_list.append(item.find('아파트').text)
        result.append(item_list)
    except Exception as e:
        print("This row will be ignored. ",item_list)

In [44]:
result

[['    82,500', '2008'],
 ['    60,000', '1981'],
 ['   130,000', '2004'],
 ['   105,000', '2004'],
 ['   120,000', '2003'],
 ['    17,000', '2014'],
 ['    17,000', '2014'],
 ['    57,000', '2006'],
 ['    44,000', '1995'],
 ['    52,000', '1995'],
 ['    82,500', '2008', '사직로8길', '00004', '광화문풍림스페이스본(101동~105동)'],
 ['    60,000', '1981', '세종대로23길', '00047', '롯데미도파광화문빌딩'],
 ['   130,000', '2004', '경희궁2길', '00005', '킹스매너'],
 ['   105,000', '2004', '사직로8길', '00024', '경희궁의아침2단지'],
 ['   120,000', '2003', '사직로8길', '00020', '경희궁 파크팰리스'],
 ['    17,000', '2014', '대학로', '00047', '이화에수풀'],
 ['    17,000', '2014', '대학로', '00047', '이화에수풀'],
 ['    57,000', '2006', '혜화로3가길', '00030', '렉스빌'],
 ['    44,000', '1995', '창경궁로', '00265', '아남1'],
 ['    52,000', '1995', '창경궁로', '00265', '아남1']]

Part #4

In [48]:
# 리스트 -> 데이터 프레임으로 변환
finalResult = pd.DataFrame(result)

In [56]:
finalResult

          거래금액  건축년도      도로명 도로명건물본번호코드                    아파트
0       82,500  2008     None       None                   None
1       60,000  1981     None       None                   None
2      130,000  2004     None       None                   None
3      105,000  2004     None       None                   None
4      120,000  2003     None       None                   None
5       17,000  2014     None       None                   None
6       17,000  2014     None       None                   None
7       57,000  2006     None       None                   None
8       44,000  1995     None       None                   None
9       52,000  1995     None       None                   None
10      82,500  2008    사직로8길      00004  광화문풍림스페이스본(101동~105동)
11      60,000  1981  세종대로23길      00047             롯데미도파광화문빌딩
12     130,000  2004    경희궁2길      00005                   킹스매너
13     105,000  2004    사직로8길      00024              경희궁의아침2단지
14     120,000  2003    사직로8길      00020              경희궁 파크팰리스
15      17,000  2014      대학로      00047                  이화에수풀
16      17,000  2014      대학로      00047                  이화에수풀
17      57,000  2006   혜화로3가길      00030                    렉스빌
18      44,000  1995     창경궁로      00265                    아남1
19      52,000  1995     창경궁로      00265                    아남1

In [57]:
finalResult.columns = ["거래금액","건축년도","도로명","도로명건물본번호코드","아파트"]
finalResult.head(15)

          거래금액  건축년도      도로명 도로명건물본번호코드                    아파트
0       82,500  2008     None       None                   None
1       60,000  1981     None       None                   None
2      130,000  2004     None       None                   None
3      105,000  2004     None       None                   None
4      120,000  2003     None       None                   None
5       17,000  2014     None       None                   None
6       17,000  2014     None       None                   None
7       57,000  2006     None       None                   None
8       44,000  1995     None       None                   None
9       52,000  1995     None       None                   None
10      82,500  2008    사직로8길      00004  광화문풍림스페이스본(101동~105동)
11      60,000  1981  세종대로23길      00047             롯데미도파광화문빌딩
12     130,000  2004    경희궁2길      00005                   킹스매너
13     105,000  2004    사직로8길      00024              경희궁의아침2단지
14     120,000  2003    사직로8길      00020              경희궁 파크팰리스

### CSV 파일데이터 불러오기

In [59]:
url = 'https://www.data.go.kr/dataset/fileDownload.do?atchFileId=FILE_000000001408653&fileDetailSn=1&publicDataDetailPk=uddi:10bde8f1-739c-4b66-b6a6-ccf5339a658e'

In [60]:
data = pd.read_csv(url, encoding='ms949')

In [61]:
data.head()

,범죄대분류,범죄중분류,계,서울,부산,대구,인천,광주,대전,울산,...,경남 밀양,경남 사천,경남 양산,경남 진주,경남 창원,경남 통영,제주 서귀포,제주 제주,기타도시,도시이외
0,강력범죄,살인기수,356,46,29,17,20,9,16,7,...,2,-,3,2,3,-,-,4,2,51
1,강력범죄,살인미수등,558,100,43,12,28,8,9,15,...,-,3,1,3,15,3,1,11,2,49
2,강력범죄,강도,"1,149",260,137,51,88,47,35,33,...,4,1,7,6,26,1,1,24,1,46
3,강력범죄,강간,"5,155","1,129",314,197,347,170,171,112,...,8,5,31,32,68,15,16,68,11,366
4,강력범죄,유사강간,583,123,28,37,47,21,14,16,...,-,2,4,1,7,1,3,13,-,33

In [5]:
response = requests.get(url2)
response

In [6]:
json = response.json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [20]:
df2 = json_normalize(json2)
df2.head()

NameError: name 'json2' is not defined