In [1]:
import pandas as pd
import requests
from pandas.io.json import json_normalize

In [2]:
url = 'http://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=ZmY2Yzg3OTY1ODQ3Y2FlMDE4MDVkZTMyN2MxM2ZjMjA=&format=json&jsonVD=Y&userStatsId=botopia/116/TX_116110034/2/1/20190418170037&prdSe=Y&newEstPrdCnt=1'

In [3]:
response = requests.get(url)
response

In [4]:
json = response.json()

In [5]:
df = json_normalize(json)
df.head()

,C1,C1_NM,C1_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,C2,C2_NM,C2_NM_ENG,C2_OBJ_NM,DT,ITM_ID,ITM_NM,ORG_ID,PRD_DE,PRD_SE,TBL_ID,TBL_NM,UNIT_NM,UNIT_NM_ENG
0,1511613102251772A.00,계,Total,시도별,Metropolitan city and province,1511613102251772B.0,계,Total,층수별,6460489,1611613103251772T2,동수,116,2007,A,TX_116110034,건축물 현황(시도별층수별),동,Building
1,1511613102251772A.00,계,Total,시도별,Metropolitan city and province,1511613102251772B.2,1층,NaN,층수별,4168077,1611613103251772T2,동수,116,2007,A,TX_116110034,건축물 현황(시도별층수별),동,Building
2,1511613102251772A.00,계,Total,시도별,Metropolitan city and province,1511613102251772B.3,2~4층,NaN,층수별,2045340,1611613103251772T2,동수,116,2007,A,TX_116110034,건축물 현황(시도별층수별),동,Building
3,1511613102251772A.00,계,Total,시도별,Metropolitan city and province,1511613102251772B.4,5층,NaN,층수별,116577,1611613103251772T2,동수,116,2007,A,TX_116110034,건축물 현황(시도별층수별),동,Building
4,1511613102251772A.00,계,Total,시도별,Metropolitan city and province,1511613102251772B.5,6~10층,NaN,층수별,54933,1611613103251772T2,동수,116,2007,A,TX_116110034,건축물 현황(시도별층수별),동,Building

In [6]:
df.to_csv("./건축물 현황(시도별,층수별).csv", encoding='ms949')