In [1]:
import pandas as pd
import requests
from pandas.io.json import json_normalize

In [7]:
url = 'http://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=ZmY2Yzg3OTY1ODQ3Y2FlMDE4MDVkZTMyN2MxM2ZjMjA=&itmId=T10+&objL1=ALL&objL2=ALL&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&newEstPrdCnt=1&loadGubun=2&orgId=101&tblId=DT_1G1B002'

In [8]:
# 정상 여부 확인 (200 정상)
response = requests.get(url)
response

In [9]:
# JSON 데이터 획득
json = response.json()

In [10]:
# PandasDataframe변환
df = json_normalize(json)
df.head()

,C1,C1_NM,C1_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,C2,C2_NM,C2_NM_ENG,C2_OBJ_NM,C2_OBJ_NM_ENG,...,ITM_ID,ITM_NM,ITM_NM_ENG,ORG_ID,PRD_DE,PRD_SE,TBL_ID,TBL_NM,UNIT_NM,UNIT_NM_ENG
0,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,0,계,Total,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,201902,M,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won
1,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,1,건축,Building,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,201902,M,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won
2,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,11,주택,Dwellings,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,201902,M,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won
3,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,12,사무실 및 점포,Offices ＆ stores,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,201902,M,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won
4,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,13,공장 및 창고,Factory ＆ storage,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,201902,M,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won

In [12]:
df.to_csv("./건설수주액.csv", encoding='ms949', index=False)

In [21]:
url2 = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc?ServiceKey=lcxt1GSMbWlNmzjIKi%2Bh5V%2BzLVniouvqEMsusuX2HWcuor6pg6fGXrz7QFbFAFzJOGz%2FuQlYun%2Bl4zgd%2Fj7eew%3D%3D&_returnType=json'

In [22]:
response2 = requests.get(url2)
response2

In [23]:
json2 = response2.json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [20]:
df2 = json_normalize(json2)
df2.head()

NameError: name 'json2' is not defined