# 1. 파일 데이터 불러오기

In [1]:
import pandas as pd

In [7]:
regionData = pd.read_csv("../dataset/kopo_region_mst_hangul.csv", encoding="ms949")              #encoding은 한글오류패치 옵션

In [15]:
regionData.head(3)

  REGIONID REGIONNAME
0      A00       아프리카
1      A01         미국
2      A02         한국

#

In [3]:
customerData = pd.read_csv("../dataset/customerdata.csv")
customerData.head()

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog

In [6]:
#컬럼헤더 재정의

customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE2']

In [7]:
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE         CUSTTYPE2
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

In [9]:
customerData.to_csv("./customerrDataOut.csv", index=False)                 #index문은 index행 삭제를 위한 옵션