# 반복문

# for문 이용해서 문자, 숫자 넣고 빼기

In [1]:
tvList = ["UN4EN001","UN4EN002","UN4EN003","UN4EN004"]

In [2]:
preFix = "LEDTV_"
# tvList[0] = preFix + tvList[0]
# tvList[1] = preFix + tvList[1]
# tvList[2] = preFix + tvList[2]
# tvList[3] = preFix + tvList[3]
# print (tvList[0])

In [3]:
range (0,4)
for i in range(0,4) :
    tvList[i] = preFix + tvList[i]

In [4]:
tvList

['LEDTV_UN4EN001', 'LEDTV_UN4EN002', 'LEDTV_UN4EN003', 'LEDTV_UN4EN004']

In [3]:
# 변수 선언
i = 0
while(i < 4) :
    tvList[i] = preFix + tvList[i]
    i = i + 1
    # i + 1 = i는 1씩 증가함

In [4]:
tvList

['LEDTV_UN4EN001', 'LEDTV_UN4EN002', 'LEDTV_UN4EN003', 'LEDTV_UN4EN004']

 # -

In [6]:
for n in [1,2]:
    print("{0}단 시작".format(n))
    for i in range(1,10) :
        if i > 10:
            break;
        print("{0} * {1} = {2}".format(n,i,n*i))

1단 시작
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2단 시작
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# -

In [1]:
import pandas as pd

In [2]:
customerData = pd.read_csv("../dataset/kopo_customerdata.csv")
customerTotalList = customerData ["TOTAL_AMOUNT"].tolist()

In [3]:
customerTotalList.sort()
del customerTotalList[0]
del customerTotalList[len(customerTotalList)-1]

In [4]:
average = sum(customerTotalList)/len(customerTotalList)
average

35218.95312635417

In [3]:
customerTotalList.index(min(customerTotalList))
del customerTotalList[minIndex]
maxIndex = customerTotalList.index(max(customerTotalList))
del customerTotalList[maxIndex]

In [4]:
average = sum(customerTotalList)/len(customerTotalList)
average

35218.95312635417

# while문 이용해서 문자, 숫자 넣고 빼기

In [1]:
tvList2 = ["UN4EN001","LEDTV_UN4EN002","LEDTV_LEDTV_UN4EN003","UN4EN004","LEDTV_LEDTV_LEDTV_UN4EN005"]

In [2]:
preFix = "LEDTV_"

In [3]:
i= 2 
preFixCnt = tvList2[i].count(preFix)
# preFixCnt라는 변수에 tvList의 2 index에 있는 특정 문자를 세어보겠다. 그 특정 문자는 preFix(=LEDTV_)이다.
# "LEDTV_LEDTV_UN4EN003" 에 LEDTV_가 몇 개 있는지 세는 것.

preFixCnt

2

In [4]:
i = 0
while (i < len(tvList2)) :
# for i in range(0,len(tvList2)):
    preFixCount = tvList2[i].count(preFix)
    if(preFixCount == 0):
        tvList2[i] = preFix + tvList2[i]
    elif (preFixCount == 1):
        tvList2[i] = tvList2[i] 
    else : tvList2[i] = tvList2[i].replace(preFix, ""); tvList2[i] = preFix + tvList2[i]
    i = i+1

In [5]:
tvList2

['LEDTV_UN4EN001',
 'LEDTV_UN4EN002',
 'LEDTV_UN4EN003',
 'LEDTV_UN4EN004',
 'LEDTV_UN4EN005']

 # -

In [13]:
List = ['A01','한국','A02','미국','A03','프랑스']

# 함수 만들기

In [6]:
a = 10
b = 3.5
display2Digit = a/b

In [7]:
step1 = display2Digit * pow(10,3)
step1

2857.1428571428573

In [8]:
step2 = round(step1)
step2

2857

In [9]:
step3 = step2/pow(10,3)
step3

2.857

# -

In [9]:
def round2Digit(value,digit):
    step1 = value * 10**digit
    step2 = round(step1)
    step3 = step2 / 10**digit
    return step3

In [10]:
testValue = 1.229985456984

In [11]:
answer = round2Digit(testValue,9)
answer

1.229985457

In [39]:
def aveList(List):
    List.sort()
    print(List)
    minV = min(List)
    maxV = max(List)
    while (List.count(minV) > 0) and (List.count(maxV) > 0):
        List.remove(minV)
        List.remove(maxV)
    print(List)
    average = sum(List)/len(List)
    return average

In [40]:
ListA = [5,9,98,54,12,75,6,546,212,989,656,212,45,3,1]

In [41]:
aveList(ListA)

[1, 3, 5, 6, 9, 12, 45, 54, 75, 98, 212, 212, 546, 656, 989]
[3, 5, 6, 9, 12, 45, 54, 75, 98, 212, 212, 546, 656]

148.69230769230768

# -

In [42]:
def aveList2(List2):
    List2.sort()
    print(List2)
    minV2 = min(List2)
    maxV2 = max(List2)
    for a in range(0,List2.count(minV2)):
        List2.remove(minV2);
    for b in range(0,List2.count(maxV2)):
        List2.remove(maxV2);
    print(List2)
    average = sum(List2)/len(List2)
    return average

In [43]:
ListB = [1,9,7,5,98,54,21,59,65,87,65,87]

In [44]:
aveList2(ListB)

[1, 5, 7, 9, 21, 54, 59, 65, 65, 87, 87, 98]
[5, 7, 9, 21, 54, 59, 65, 65, 87, 87]

45.9

# -

In [ ]:
def aveL (L):

# input

In [ ]:
name = input("성함을 입력하세요 : ")
print(name)

사칙연산(+,-,*,/)을 할수 있는 함수를 생성한 후
사용자의 변수를 2개 inputX, inputY를 입력받아
print문을 활용하여 더하기 예제를 출력하세요

In [1]:
def Arithmetic(value):
    if value = plus : X + Y;
    elif value = minus : X - Y;
    elif value = multiple : X * Y
    else value = division : X / Y
    return else

In [3]:
X = input("첫 번째 숫자")
Y = input("두 번째 숫자")
answer = Arithmetic(plus)
print(answer)

첫 번째 숫자6
두 번째 숫자5

NameError: name 'Arithmetic' is not defined

# mariaDB 연동하기

In [1]:
# PANDAS 패키지 불러오기
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
# DB 커넥션 열기
# engine = create_engine('mysql+pmysql://root:root@127.0.0.1:3306/basic')
engine_mysql = create_engine('mysql+pymysql://kopo:kopo@192.168.110.111:3306/kopo')

# DB테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT*FROM kopo_product_volume', engine_mysql)

In [3]:
# # 컬럼 헤더 재정의
selloutData.columns = ['I','AM','FROM','mySQL']

In [5]:
# # 데이터 저장
resultname = 'mysql_박종선'
selloutData.to_sql(resultname,engine_mysql,if_exists='replace',index=False)

In [2]:
engine_mysql = create_engine('mysql+pmysql://root:root@192.168.110.15:3306/basic')
myData = pd.read_sql_query('SELECT*FROM product_volume', engine_mysql)
myData

NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:mysql.pmysql

# Oracle 연동하기

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine_oracle = create_engine('oracle+cx_oracle://sun115:sun115@127.0.0.1:1522/xe')

selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine_oracle)
selloutData.columns = ['ONE','TWO','THREEE','FOUR']
selloutData.head(2)

   ONE     TWO  THREEE    FOUR
0  A01  ST0002  201512  151750
1  A01  ST0001  201520  645626

In [4]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [5]:
engine_postgres = create_engine('postgresql://kopo:kopo@192.168.110.111:5432/kopo')

selloutData.to_csv("../dataset/testout.csv", index=False)

In [6]:
resultname = 'mySQLtoPostgres_박종선'
selloutData.to_sql(resultname,engine_postgres,if_exists='replace',index=False)

engine = create_engine('oracle+cx_oracle://kopo2019:kopo2019@192.168.110.112:1521/orcl')

selloutData2 = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)
selloutData2