In [1]:
import pandas as pd

In [2]:
import psycopg2
from sqlalchemy import create_engine

In [3]:
import pymysql
from sqlalchemy import create_engine

In [ ]:
postgres_engine = create_engine('postgresql://postgres:postgres@127.0.0.1:5432/postgres')

In [8]:
tmp = pd.read_csv("../dataset2/kopo_product_volume.csv")

In [6]:
# DB커넥션 열기
mariadb_engine = create_engine('mysql+pymysql://root:root@127.0.0.1:3306/mysql')

In [10]:
# 데이터 저장
tmp.to_sql('kopo_product_volume',mariadb_engine,if_exists='replace',index=False)

In [11]:
# DB테이블 읽어오기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume',mariadb_engine)

In [13]:
# 컬럼헤더 재정의
selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']

In [14]:
selloutData.head(2)

  REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0      A01       ST0001    201415  810144
1      A01       ST0002    201415  128999

+) performance tip

In [24]:
import d6tstack

In [26]:
mariadb_url = 'mysql+mysqlconnector://root:root@127.0.0.1:3306/mysql'

In [27]:
mariadb_engine2 = create_engine(mariadb_url)

In [28]:
selloutData2 = pd.read_sql_query('SELECT * FROM kopo_product_volume', mariadb_engine2)

In [31]:
selloutData2.columns = ['REGIONID2','PRODUCTGROUP2','YEARWEEK2','VOLUME2']

In [32]:
selloutData2.head(2)

  REGIONID2 PRODUCTGROUP2  YEARWEEK2  VOLUME2
0       A01        ST0001     201415   810144
1       A01        ST0002     201415   128999

In [33]:
resultname = 'myresult'

In [36]:
d6tstack.utils.pd_to_mysql(selloutData2, mariadb_url, resultname, if exists="replace")

SyntaxError: invalid syntax (<ipython-input-36-190bf3222dd5>, line 1)