### 데이터 정제

In [54]:
import pandas as pd
import numpy as np

In [55]:
selloutData = pd.read_csv("../dataset2/kopo_channel_seasonality_new.csv")

In [56]:
selloutData.head(2)

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0

In [57]:
selloutData["NEW_QTY"] = np.where(selloutData.QTY < 0, 0, selloutData.QTY)

In [58]:
selloutData.head(2)

  REGIONID    PRODUCT  YEARWEEK      QTY  NEW_QTY
0      A60   PRODUCT4    201402     71.0     71.0
1      A60  PRODUCT59    201402  22275.0  22275.0

In [59]:
len(selloutData)

124658

In [60]:
len(selloutData[selloutData.QTY<0])

323

In [61]:
len(selloutData[selloutData.QTY>=0][selloutData.NEW_QTY==selloutData.NEW_QTY])

C:\Users\SMART-15\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

124335

In [62]:
len(selloutData[selloutData.QTY<0][selloutData.NEW_QTY==0])

C:\Users\SMART-15\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

323

In [67]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
NEW_QTY     float64
dtype: object

In [66]:
selloutData['YEARWEEK'] = selloutData['YEARWEEK'].apply(str)

In [68]:
selloutData["YEAR"] = selloutData.YEARWEEK.str[0:4]
selloutData["WEEK"] = selloutData.YEARWEEK.str[4:6]

In [71]:
selloutData.min()

REGIONID         A00
PRODUCT     PRODUCT1
YEARWEEK      201401
QTY             -364
NEW_QTY            0
YEAR            2014
WEEK              01
dtype: object

In [69]:
selloutData.max()

REGIONID            A77
PRODUCT        PRODUCT8
YEARWEEK         201652
QTY         1.66321e+06
NEW_QTY     1.66321e+06
YEAR               2016
WEEK                 53
dtype: object

In [70]:
selloutData.head(2)

  REGIONID    PRODUCT YEARWEEK      QTY  NEW_QTY  YEAR WEEK
0      A60   PRODUCT4   201402     71.0     71.0  2014   02
1      A60  PRODUCT59   201402  22275.0  22275.0  2014   02

In [74]:
selloutData["YEARWEEK"] = selloutData.YEARWEEK.astype("int")
selloutData["YEAR"] = selloutData.YEAR.astype("int")
selloutData["WEEK"] = selloutData.WEEK.astype("int")

In [75]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int32
QTY         float64
NEW_QTY     float64
YEAR          int32
WEEK          int32
dtype: object

In [76]:
refinedSelloutData = selloutData[selloutData.WEEK.astype(int)<=52]

In [86]:
refinedSelloutData.min()

REGIONID         A00
PRODUCT     PRODUCT1
YEARWEEK      201401
QTY             -364
NEW_QTY            0
YEAR            2014
WEEK               1
dtype: object

### 데이터 요약분석

In [88]:
sortKey = ["REGIONID","PRODUCT","YEARWEEK"]

In [89]:
refinedSelloutData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  NEW_QTY  YEAR  WEEK
0      A60   PRODUCT4    201402     71.0     71.0  2014     2
1      A60  PRODUCT59    201402  22275.0  22275.0  2014     2
2      A60  PRODUCT34    201402   4463.0   4463.0  2014     2
3      A60  PRODUCT47    201402      0.0      0.0  2014     2
4      A60  PRODUCT56    201402     23.0     23.0  2014     2

In [92]:
sortedData = refinedSelloutData.sort_values(sortKey, ascending=[False,False,False], inplace=True)

C:\Users\SMART-15\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [91]:
sortedData.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [72]:
gfunction = ["mean","std","size"]

In [73]:
groupkey = ["REGIONID","PRODUCTGROUP"]

In [ ]:
groupData = sortedData.groupby(groupkey)["NEW_QTY"]

In [ ]:
# to uppercase
# inplace = 적용하기. 변수에 다시 담기 대신 써줄 수 있음
groupData.rename(columns={"mean":"MEAN", "std":"STD"}, inplace=True)